body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  color:black;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

form, article {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8FAFC;
  border: 1px solid #18181B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, td, select, option, div, span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
  color:black;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img, image {
  border: none;
}

.TextBox, .CheckBox {
  height: 11px;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  line-height: 11px;
}

.DropDownList {
  height: 15px;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  line-height: 11px;
}

span.title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 13px;
  color:white;
  font-style: italic;
  font-weight: 900;
  font-variant: small-caps;
  z-index: 3;
  vertical-align: top;
}

tr.header {
  background-color:Silver;
}

div.greyout {
  background-color:Black;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  z-index: 25;
}

div.popout {
  background-color:White;
  position: absolute;
  z-index: 50;
  border: solid 1px black;
  padding-left: 15px;
}

.ExitButton {
  float: right;
}

.drsElement {
  position: absolute;
  border: solid 1px black;
  cursor: pointer;
  background-repeat: no-repeat;
  /* vertical-align: middle; */
  padding-left: 15px;
  display: block;
  z-index: 5;
}
.category {
  position: absolute;
  border: solid 1px black;
  background-repeat: no-repeat;
  /* vertical-align: middle; */
  padding-left: 15px;
  display: block;
  z-index: 5;
}
.monthIndex {
 width: 30px; 
 height: 30px; 
 float: left; 
 position: absolute; 
 text-align: center; 
 vertical-align: middle;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:Silver;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.trash {
  background-color: #F8FAFC;
  color: #EF4444;
}

.trash:focus, .trash:hover {
  filter:brightness(120%)
}

.submit {
  background-color: #F8FAFC;
  color: gray;
}

.submit:focus, .submit:hover {
  background-color: limegreen;
  color: #F8FAFC;
}