@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  background-color: #728197;
  color: #18181B;
  margin:0px;
}

input[type="text"], button {
  font: inherit;
}

main {
  margin: auto;
  max-width: 600px;
  background-color: #F8FAFC;
  padding: 1rem 2rem;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #333;
}

h1 {
  margin: 0.5rem 0;
}

div.NavBar {
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  padding-left:10px;
  padding-right:10px;
}

form {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8FAFC;
  border: 1px solid #18181B;
}

form.new-category {
  padding: 0;
  margin: .5rem;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #909090;
  border: 1px solid black;
  width: 90%;
}

form.new-envelope {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:transparent;
  border: none;
}

div.new-category {
  width: 100%;
  padding-right: 15px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
}

div.new-envelope {
  width: 100%;
  padding-right: 15px;
}

.months-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction:row ;
  align-items: top;
  background-color: none;
  border: none;
}

div.month-item {
  font-size:.75rem;
  margin-left:2px;
  margin-right:2px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  white-space: pre-wrap;
  width: 30px;
  height: 30px;
}

div.month-item:focus, div.month-item:hover {
  font-size:.75rem;
  margin-left:2px;
  margin-right:2px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  white-space: pre-wrap;
  filter:brightness(120%);
  background-color: rgb(162, 165, 162);
  width: 30px;
  height: 30px;
}

div.month-item-selected {
  font-size:.75rem;
  font-weight:bolder;
  margin-left:2px;
  margin-right:2px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  white-space: pre-wrap;
  background-color: rgb(140, 140, 140);
  width: 30px;
  height: 30px;
}


article.category-container {
  padding: 0;
  margin: .5rem;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #18181B;
  width:90%;

}

article.category-item{
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  background-color: #909090;
  border-bottom:1px solid #18181B;
}

article.category-item-income{
  padding: 0;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  background-color: #70ac7c;
  border-bottom:1px solid #18181B;
}

article.category-item-uncategorized{
  padding: 0;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  background-color: #676767;
  border-bottom:1px solid #18181B;
}

div.category{
  padding: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  margin: 0;
  display: flex;
  width: 100%;  
  align-items: center;
  border:none;
  vertical-align: middle;
}

article.envelope-container {
  padding: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 40px;
  align-items: center;
  background-color: none;
  border: none
}

article.envelope-item-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width:100%;
  vertical-align: middle;
  align-items: right;
  background-color: none;
  border: none;
}

article.envelope-item {
  padding: 0;
  margin: 0;
  display: flex;
  width:100%;
  vertical-align: middle;
  align-items: center;
  background-color: #c9c9c9;
  border:1px solid #18181B;
  border-radius: 5px;
}

div.envelope{
  padding: 0;
  padding-left: 3px;
  margin: 0;
  display: flex;
  width: 100%; 
  
  align-items: center;
  background-color: none;
  border:none;
  vertical-align: middle;
}

.category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

button {
  width: 30px;
  height: 30px;
  border: 1px solid #1b1b18;
  border-radius: 10%;
  cursor: pointer;
  margin-right:.5rem;
  margin-left:.5rem;
}

form {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #18181B;
  margin-bottom: 1rem;
}

form label {
  position: absolute;
  left: -10000px;
}

input[type="text"] {
  width: 100%;
  border-radius: 5px;
  border: 0.5px solid #18181B;
  padding:0;
  margin:0;
}

input.inputCurrency {
  text-align:right;
  border-radius: 0px;
  width: 100px;
  height: 100%;
  border: none;
  font-size:100%;
  font-weight: bolder;
}

.trash-block {
  background-color: #F8FAFC;
  color: #8f8f8f;
}

.trash {
  background-color: #F8FAFC;
  color: #EF4444;
}

.trash:focus, .trash:hover {
  filter:brightness(120%);
  color: #F8FAFC;
  background-color: #EF4444;
}

div.import-container {
  border-radius: 0px;
  border: none;
  padding:0;
  margin:0;
  vertical-align: middle;
  width: 400px;
}

input.import-file {
  border: 0.5px solid #18181B;
  padding:0;
  margin:0;
  width: 350px;
}

.import {
  border-radius: 6px;
  background-color: #F8FAFC;
  color: black;
}

.import:focus, .import:hover {
  filter:brightness(120%);
  color: black;
  background-color: limegreen;
}

.submit {
  background-color: #F8FAFC;
  color: gray;
}

.submit:focus, .submit:hover {
  background-color: limegreen;
  color: #F8FAFC;
}

.BudgetTable {
  padding: 0;
  margin: 0;
  border-collapse:collapse,
}

.BudgetTableHeaderRow {
  background-color: #b4b4b4;
  padding: 0;
  margin: 0;
}

.BudgetTableHeaderCell {
  background-color: #b4b4b4;
  border: 1px solid black;
  white-space: pre-wrap;
  height:100%;
  padding: 0;
  margin: 0;
  padding-left:2px;
}

.BudgetTableHeaderCellCurr {
  background-color: #b4b4b4;
  border: 1px solid black;
  text-align:center;
  white-space: pre-wrap;
  height:100%;
  width: 100px;
  padding: 0;
  margin: 0;
}

.BudgetTableCellInput {
  border: 1px solid black;
  text-align:right;
  padding: 0;
  margin: 0;
}

.BudgetTableCellCurr {
  border: 1px solid black;
  text-align:right;
  padding: 0;
  margin: 0;
  padding-right:2px;
}

.BudgetTableCell {
  border: 1px solid black; 
  padding: 0;
  margin: 0;
  padding-left:2px; 
}

.BudgetTableGroupHeaderRow {
  background-color: #a6a6a6;
  padding: 0;
  margin: 0;
  row-gap: 0;
}

.BudgetTableGroupHeader {
  background-color: #a6a6a6;
  border: 1px solid black; 
  padding: 0;
  margin: 0;
  padding-left:2px;
}



.TransactionTable {
  padding: 0;
  margin: 0;
  border-collapse:collapse,
}

.TransactionTableHeaderRow {
  background-color: #b4b4b4;
  padding: 0;
  margin: 0;
}

.TransactionTableHeaderCell {
  background-color: #b4b4b4;
  border: 1px solid black;
  white-space: pre-wrap;
  height:100%;
  padding: 0;
  margin: 0;
  padding-left:2px;
}

.TransactionTableHeaderCellDate {
  background-color: #b4b4b4;
  border: 1px solid black;
  text-align:center;
  white-space: pre-wrap;
  height:100%;
  width: 100px;
  padding: 0;
  margin: 0;
}

.TransactionTableHeaderCellCurr {
  background-color: #b4b4b4;
  border: 1px solid black;
  text-align:center;
  white-space: pre-wrap;
  height:100%;
  width: 100px;
  padding: 0;
  margin: 0;
}

.TransactionTableCellInput {
  border: 1px solid black;
  text-align:right;
  padding: 0;
  margin: 0;
}

.TransactionTableCellDate {
  border: 1px solid black;
  text-align:right;
  padding: 0;
  margin: 0;
  padding-right:2px;
}

.TransactionTableCellCurr {
  border: 1px solid black;
  text-align:right;
  padding: 0;
  margin: 0;
  padding-right:2px;
}

.TransactionTableCell {
  border: 1px solid black; 
  padding: 0;
  margin: 0;
  padding-left:2px; 
}

.SaveKeyword {
  padding: 0;
  margin: 0;
  padding-left:2px;
  padding-right:4px;
}

.SaveKeyword-saved {
  padding: 0;
  margin: 0;
  padding-left:2px;
  padding-right:4px;
  color: lightgreen;
}

.SaveKeyword:hover {
  padding: 0;
  margin: 0;
  padding-left:2px;
  padding-right:4px;
  color:limegreen;
}

select.envelopeDropDown {

}

select.envelopeDropDown-undefined {
 background-color: salmon;
}

tr.TransactionTableRow {

}

tr.TransactionTableRow-duplicate {
  background-color: rgb(205, 146, 88);
}
